html,
body {
  margin: 0;
}

/* Charlene's stuff ======================= */
.reviewCard {
  width: 100%;
  margin-bottom: 1.5em;
}

.reviewSummary {
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: .5em;
}

.reviewName {
  width: 100%;
  margin-bottom: .5em;
}

.reviewBody {
  margin-bottom: .5em;

}

.reviewDate {
  font-size: 10px;
}

.reviewPhotos {
  object-fit: cover;
  height: 80px;
  width: 120px;
  border: 1px solid black;
  margin: 0 0.5em 1em 0.5em;
}

.showMoreButton {
  margin-bottom: 1em;
}

#reviewComments {

  margin-right: 1em;

}

#reviewForm {
  box-sizing: border-box;
  background-color: white;
  border: '2px solid #000';
  margin-bottom: 1em;
  text-align: center;
  border: 5px solid #666;
  color: #666;
}
