html,
body {
  margin: 0;
}

#related-and-comp {
  width: 1000px;
}

.carousel {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  padding: 10px
}

.title {

}

.card {
  border: 1px solid;
  height: 200px;
  width: 150px;
}

.related-card {

}

.outfit-card {

}

/*
  DEVELOPMENT CSS
  - bad css using it just to visualize
    the layout
  going to delete

  .container {
  padding: 10px;
}

.view {
  min-width: 1000px;
  display: flex;
  flex-wrap: wrap;

}

.container.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.test-layout {
  border: 1px solid;
}

.row {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  width: 100%;
}

#product-gallery {
  height: 600px;
  width: 800px;
  flex-grow: 1;
}

#product-form {
  width: 400px;
}

#product-info {
  min-height: 200px;
  flex-grow: 1;
}
 */
