html,
body {
  margin: 0;
}
/* Vicky's stuff ======================= */
#related-and-comp {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.carousel {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  padding: 10px
}

.card {
  border: 1px solid;
  height: 200px;
  width: 150px;
}

.related-products-thumbnail {
  height: 75px;
}
.card-first-row {
  display: flex;
  justify-content: space-between;
}

/* Charlene's stuff ======================= */
.reviewCard {
  width: 100%;
  margin-bottom: 1.5em;
}

.reviewSummary {
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: .5em;
}

.reviewName {
  width: 100%;
  margin-bottom: .5em;
}

.reviewBody {
  margin-bottom: .5em;

}

.reviewDate {
  font-size: 10px;
}

.reviewPhotos {
  object-fit: cover;
  height: 80px;
  width: 120px;
  border: 1px solid black;
  margin: 0 0.5em 1em 0.5em;
}

.showMoreButton {
  margin-bottom: 1em;
}

#reviewComments {

  margin-right: 1em;

}

#reviewForm {
  box-sizing: border-box;
  position: absolute;
  background-color: white;
  border: '2px solid #000';
  margin-bottom: 1em;
  text-align: center;
  border: 5px solid #666;
  color: #666;
  white-space: nowrap;
}
